body[data-title="o-nama"] {
  .navbar-main {
    background-image: linear-gradient(#165cde, #7be7f4 686px);
  }

  .navbar-scrolled {
    background-image: none;
  }

  .about-us {
    padding-top: 168px !important;
    padding-bottom: 220px !important;
  }

}